<p>
  <strong>Account Number:</strong>
  <%= @account.number %>
</p>

<p>
  <strong>Account Type:</strong>
  <%= @account.id %>
</p>

<p>
  <strong>Account Branch:</strong>
  <%= @account.branch %>
</p>

<p>
  <strong>Open Date:</strong>
  <%= @account.open_date %>
</p>